<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Mercado Liebre'}) -%>

<body>
    <%- include('./partials/header') -%>

    <section class="banner">
        <img src="../images/img-home-banner.jpg" alt="banner">
    </section>

    <main>
        <h3>Basados en tu última visita</h3>
        <section class="products last-visits">
            <article>
                <img src="../images/img-cafetera-moulinex.jpg" alt="producto">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="prices">
                        <p class="price">$200</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="../images/img-macbook-pro-2019.jpg" alt="producto">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="prices">
                        <p class="price">$1900</p>
                        <p class="discount">20% off</p>
                    </div>
                    <h4 class="description">Apple MacBook Pro 2019</h4>
                </div>
            </article>
        </section>

        <h3>Ofertas</h3>
        <section class="products ofers">
            <article>
                <img src="../images/img-cafetera-moulinex.jpg" alt="producto">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="prices">
                        <p class="price">$200</p>
                        <p class="discount">40% off</p>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="../images/img-cafetera-moulinex.jpg" alt="producto">
                <div class="product-info">
                    <i class="fas fa-truck"></i>
                    <div class="prices">
                        <p class="price">$200</p>
                        <p class="discount">40% off</p>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
        </section>

    </main>
    <%- include('./partials/footer') -%>
</body>

</html>