
footer {
    padding: 30px;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li i {
    font-size: 2em;
    color: var(--color-celeste);
}

footer ul h4 {
    font-size: 2em;
    margin: 15px 0 5px 0;
}

footer ul p {
    margin: 0;
}

footer ul li {
    margin-bottom: 15px;
}

.copyright {
    text-align: left;
    color: var(--color-gris);
}