
:root {
    --color-amarillo: #EAC926;;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;

    --font-family-sans-serif: "Roboto", "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: var(--color-gris-claro);
}

header {
    background-color: var(--color-amarillo);
    padding: 1rem;
}

header .subtitle {
    text-align: center;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header .burger-menu {
    margin-left: 10px;
    text-align: center;
    background-color: var(--color-celeste);
    border-radius: 15%;
    padding: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

header .burger-menu i {
    color: white;
    font-size: 2rem;
}

.banner img {
    width: 100%;
}

main {
    padding-top: 1em;
    width: 90vw;
    margin: 0 auto;

}

main section article {
    margin-bottom: 10px;
}

main h3 {
    font-size: 2.4rem;
    margin-top: 0;
}

main section article .product-info {
    background-color: white;
    border-top: var(--color-gris-claro) solid 1px;
    padding: 15px;
}

@media (min-width: 361px) {

    main section  {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-bottom: 20px;
        gap: 20px;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 46%;
    }
}

@media (min-width: 769px) {

    main section article {
        width: 23%;
    }
}


main img {
    width: 100%;
}

main i {
    font-size: 2em;
    margin-bottom: 10px;
}

.product-info {
    position: relative;
}

main .prices {
    display: flex;

}

main .price {
    font-size: 1.8rem;
    flex-grow: .3;
}

main .discount {
    flex-grow: .7;
}

main .discount,
main .description {
    font-size: 1.6rem;
}

main section article i {
    display: block;
    font-size: 1.6rem;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--color-verde);
    border: 1px solid var(--color-verde);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
