<article>
    <img src="../images/<%=picture %>" alt="producto">
    <div class="product-info">
        <i class="fas fa-truck"></i>
        <div class="prices">
            <p class="price"><%= price %></p>
            <p class="discount"><%= discount %></p>
        </div>
        <h4 class="description"><%= description %></h4>
    </div>
</article>